.container {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 1em 8em;
    display: flex;
    background-color: #c0bebe;

}
.frame{
    margin-right: 1em;
}
.description{
    min-width: 0;
    width: 100%;
    text-align: left;
    padding-right: 24px;
    box-sizing: border-box;
}
.bookmark{
    margin: auto 2em;
}
